header{
  width: 100%;
  height: 70px;
  background-color: $secondaryColor;

  .wrapper{
    @include wrapper;
    display: flex;
    align-items: center;

    .logo-spoti{
      width: 80px;
    }
  }
}
